@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

img {
  display: block;
  max-inline-size: 100%;
}

fieldset {
  border: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#logo-container {
  min-height: 100vh;
  width: 35%;
  padding-left: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/waves.png");
  background-size: 100%;
  background-repeat: repeat;
  font-family: Roboto, system-ui, sans-serif;
  color: white;
  overflow: hidden;
  overflow-wrap: anywhere;
}

#logo-icon {
  width: 3rem;
  height: 3rem;
}

#logo {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 15px;
  font-size: 1.5rem;
}

#logo-footer {
  position: fixed;
  bottom: 2%;
  font-size: 0.5rem;
}

#form-page-part {
  min-height: 100vh;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5%;
  background: linear-gradient(270deg, rgb(3, 73, 178) 15%, rgb(0, 17, 43) 90%);
}

#form-container {
  background-color: white;
  width: 75%;
  border: 2px solid black;
  border-radius: 1cap;
  padding: 2%;
  font-family: Roboto, system-ui, sans-serif;
}

#form-container > h1 {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}